.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signed-in-header {
    background-color: white;
}

.right-side-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}

.right-side-items div{
    padding-right: 20px;
    width: 30%;
    font-size: 13px
}