

.portfolio-balance-title{
  font-family:Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 20px;   
}

.portfolio-chart-box {
    background-color: white;
    border: 1px solid rgb(241,243,245);
    border-radius: 5px;
    left: 40px;
}

.portfolio-index-box {
    background-color: white;
    border: 1px solid rgb(241,243,245);
    border-radius: 5px;
    left: 40px;
}

.recent-transactions-box {
    background-color: white;
    border: 1px solid rgb(241,243,245) ;
    border-radius: 5px;
    left: 40px;
    width: 50%;
}

.recent-transactions-box-portfolio {
    
}

.portfolio-index-box-title {
    font-family:Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.portfolio-index-item {
    display: flex
}

.portfolio-index-item-name{
    
}

.transactions-index {
}

.transactions-index-item {

}

.do-more-with-crypto-box {
    background-color: white;
    border: 1px solid rgb(241,243,245) ;
    border-radius: 5px;
    left: 40px;
    width: 50%;
} 

.portfolio-do-more-with-crypto-item1 {
    
}

.portfolio-do-more-with-crypto-item2 {
    
}

.portfolio-div-link {
    display:inline-block;
    width:100%;
    height:100%;
}