
#show-content {
    padding-bottom: 400px;

}

.show-title {
    font-family:Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 20px
}

.show-coin-graph-and-buy-sell {
    display: flex;
}

.coin-graph-box {
    background: white;
    border: 1px solid rgb(241,243,245) ;
    border-radius: 5px;
    left: 40px;
    width: 80%;
    height: 100%;
    margin-right: 2%;
}

.buy-sell-box {
    width: 50%;
    background: white;
    border: 1px solid rgb(241,243,245) ;
    border-radius: 5px;
    height: 100%
}

.buy-sell-header {
    display: flex;
    justify-content: center;
}

.buy-sell-header button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 400
}

.tab-unselected {
    background-color: rgb(250,251,252);
    border:none;
    border-bottom: 1px solid rgb(241,243,245) ;
}

.tab-selected {
    border:none;
    background-color: white;
    color: rgb(21,82,240);
}

#buy-sell-buy-button {
    border-right: 1px solid rgb(241,243,245) ;
}

.buy-sell-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-sell-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-sell-input {
    border: none;
    font-size: 55px;
    width:100%;
    text-align: center;
    outline: none;
    color: rgb(190, 190, 190)
}

::placeholder {
    color: rgb(190, 190, 190)
}

.transaction-success-box {

}
.transaction-success-box>* {
    color: black
}

.error-message {
    color: red
}

.icon-title-show-page {
    display: flex;
}