.signup-full-page {
    background-color: rgb(21,82,240);
    height: 100vh;
    border: 1px solid  rgb(21,82,240); 
}

.signup-form-title {
    font-size: 28px;
    color:  white;    
    margin:auto;
    font-weight: 350;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}


.sign-up-page {
    background-color: white;
    width: 30%;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.12);    margin-top:38px;
    height: 550px;
    width: 500px;
    border-radius: 3px;
    /* border: 5px solid red; */
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 15px
    /* flex-wrap: wrap; */ 
}
.sign-up-form>* {
    margin-top:10px;
    margin-bottom:10px;
}

.first-last-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94.5%
}

.error-messages {
    position: absolute;
}


.signup-inputs {
    width: 100%;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 450px;
    height: 55px;
    border-color: honeydew;
    border-radius: 3px;
    border: 1px solid rgb(242, 242, 242);
    padding-left: 20px;
    font-size: 18px;
}

.signup-credentials {
    width: 43%;
}

.signup-button {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    font-size: 12px;
    color: white;
    background-color: blue;
    align-items: center;
    border: 1px solid gray;

}

.switch-form {
    font-size: 13px;
    color: white;
    margin:auto;
    width: 50%;
    text-align: center;
    margin-top: 25px;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

#terms-and-conditions {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 15px;
}